/** CSS for the home page */
.title {
    font-size: 350%;
  }
  
  .buttonHome {
    background-color: #89d197; /* Green, formerly 7bed8d */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-radius: 12px;
  }
  
  .buttonSearch {
    background-color: #89d197; /* Green, formerly 7bed8d */
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .searchBar {
    font-size: medium;
    min-width: 50%;
    max-width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-width: 1px;
    border-color: #6d7fa7;
    padding-left: 10px;
  }

  .padding-fix {
    padding: 0px !important;
  }

  .remove-bg {
    background-image: none !important;
  }