/*html{
    height: 100%;
    background-image: url("https://cdn.dribbble.com/users/6407551/screenshots/14739480/media/ad2c082fe7c323212f51ff9e48bd00b7.png?compress=1&resize=1600x1200");
    background-repeat: no-repeat;
    background-size:cover;
}*/

.background {
    height: 100%;
    background-image: url("https://cdn.dribbble.com/users/6407551/screenshots/14739480/media/ad2c082fe7c323212f51ff9e48bd00b7.png?compress=1&resize=1600x1200") !important;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #89d197;
    background-size: 100% 100%;
}

.loginCard {
    margin-left: auto;
    margin-right:auto;
}

@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
.ff-font {
  font-family: 'Gabriela', Arial, Helvetica, sans-serif;
  color: #6da778;
}

.error {
    color: red;
}

.returnButton {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    width: 84px;
}