.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
.ff-font {
  font-family: 'Gabriela', Arial, Helvetica, sans-serif;
  color: #6da778;
}

.ff-altcolor {
  color: #6d7fa7;
}

.title {
  font-size: 350%;
}

.buttonHome {
  background-color: #89d197; /* Green, formerly 7bed8d */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  border-radius: 12px;
}

.buttonSearch {
  background-color: #89d197; /* Green, formerly 7bed8d */
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.searchBar {
  font-size: medium;
  min-width: 50%;
  max-width: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-width: 1px;
  border-color: #6d7fa7;
  padding-left: 10px;
}